@model List<Remedio>
<br /><br /><br /><br />
<div class="text-center">
    <h1>Bem vindo ao sistema da Farmácia Blue.</h1>
    <br />
    <div class="alert alert-dark" role="alert">Atualmente existem @Model.Count() itens cadastrados.</div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Item mais caro do estoque</h5>
                <p class="card-text">Nome: @ViewBag.NomeMaiorV</p>
                <p class="card-text">Valor: R$@Model.Max(Model => Model.Preco),00</p>
                <a class="btn btn-outline-dark" asp-controller="Remedio" asp-action="Read" asp-route-id="@ViewBag.IdMaiorV">Visualizar item</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Item com maior quantidade em estoque</h5>
                <p class="card-text">Nome: @ViewBag.NomeMaiorQ</p>
                <p class="card-text">Quantidade: @Model.Max(Model => Model.Quantidade) Unidades</p>
                <a class="btn btn-outline-dark" asp-controller="Remedio" asp-action="Read" asp-route-id="@ViewBag.IdMaiorQ">Visualizar item</a>
            </div>
        </div>
    </div>
</div>
<br />
@if (ViewBag.qRemedioV > 0)
{
    <div class="alert alert-danger" role="alert">Cuidado! Existem @ViewBag.qRemedioV tipos de remédio fora da validade.</div>
}








