@model Remedio
<br />
<br />
<br />
<br />
<div class="alert alert-dark" role="alert">Remédio de registro nº @Model.Id</div>
<dl class="row">
    <dt class="col-sm-3">@Html.DisplayNameFor(Model => Model.Id)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(Model => Model.Id)</dd>
    <dt class="col-sm-3">@Html.DisplayNameFor(Model => Model.Nome)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(Model => Model.Nome)</dd>
    <dt class="col-sm-3">@Html.DisplayNameFor(Model => Model.Fabricante)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(Model => Model.Fabricante)</dd>
    <dt class="col-sm-3">@Html.DisplayNameFor(Model => Model.Preco)</dt>
    <dd class="col-sm-9">R$@Html.DisplayFor(Model => Model.Preco)</dd>
    <dt class="col-sm-3">@Html.DisplayNameFor(Model => Model.Quantidade)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(Model => Model.Quantidade) Unidades</dd>
    <dt class="col-sm-3">@Html.DisplayNameFor(Model => Model.Validade)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(Model => Model.Validade)</dd>
</dl>
@if (Model.Validade < DateTime.Today)
{

    <div class="alert alert-danger" role="alert">
        Remédio vencido!
    </div>
}
@if (Model.Pedidos.Count > 0)
{
    <h3>Pedidos:</h3>
    @foreach (Pedido p in Model.Pedidos)
    {
<dl class="row">
    <dt class="col-sm-3">@Html.DisplayNameFor(x => p.dataPedido)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(x => p.dataPedido)</dd>
    <dt class="col-sm-3">@Html.DisplayNameFor(x => p.Cliente)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(x => p.Cliente)</dd>    
</dl>
    }
}

<a class="btn btn-outline-dark" asp-controller="Remedio" asp-action="Home">Voltar para Home</a>
<a class="btn btn-outline-dark" asp-controller="Remedio" asp-action="Index">Visualizar toda lista</a>