@model Pedido
<br /><br /><br /><br />

@if(Model == null)
{
    <h1>Pedido não existe</h1>
    <a asp-action="Index">Voltar</a>
}
else { 
<div class="alert alert-dark" role="alert">Pedido de registro nº @Model.Id</div>
<dl class="row">
    <dt class="col-sm-3">@Html.DisplayNameFor(Model => Model.Id)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(Model => Model.Id)</dd>
    <dt class="col-sm-3">@Html.DisplayNameFor(Model => Model.dataPedido)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(Model => Model.dataPedido)</dd>
    <dt class="col-sm-3">@Html.DisplayNameFor(Model => Model.Cliente)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(Model => Model.Cliente)</dd>    
    <dt class="col-sm-3">@Html.DisplayNameFor(Model => Model.remedio.Nome)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(Model => Model.remedio.Nome)</dd>
    <dt class="col-sm-3">@Html.DisplayNameFor(Model => Model.Observacao)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(Model => Model.Observacao)</dd>
</dl>
<a class="btn btn-outline-dark" asp-controller="Remedio" asp-action="Home">Voltar para Home</a>
<a class="btn btn-outline-dark" asp-action="Index">Visualizar toda lista</a>
}